APP_NAME="Adrema"
APP_ENV=production
APP_KEY=YOUR_APP_KEY
APP_DEBUG=false
APP_URL=http://localhost:8000

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=me

DB_PASSWORD=secret_db_password
MYSQL_PASSWORD=secret_db_password

PUSHER_APP_HOST=socketi

WORKERS=5

USER_EMAIL=admin@example.com
USER_PASSWORD=admin
