/node_modules
/public/build
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tags
/storage/temp

# Temporary files
*.swp
*.swo
*.swm
resources/img/sprite.svg
/.php-cs-fixer.cache
/data
.app.env
