[submodule "packages/silvaletter"]
	path = packages/silvaletter
	url = https://git.zoomyboy.de/silva/silvaletter.git
[submodule "packages/laravel-nami"]
	path = packages/laravel-nami
	url = https://git.zoomyboy.de/silva/laravel-nami-api
[submodule "packages/tex"]
	path = packages/tex
	url = https://git.zoomyboy.de/pille/tex
[submodule "packages/eventform"]
	path = packages/eventform
	url = git@zoomyboy.de:pille/eventform.git
