node_modules/
npm-debug.log
yarn-error.log
/bootstrap/compiled.php
/app/storage/
/public/storage
/public/hot
/public/build
/public/vendor
storage/*.key
/vendor/
Homestead.yaml
Homestead.json
.vagrant/
.phpunit.result.cache
/storage/temp/
/storage/debugbar/

# User data files
/data/
/.app.env
.config/psysh

# Development files
/docker-compose.yml
/.env
/.env.backup
/.env.testing

# Editor config files
/.vscode/

# Temporary files
*.swp
*.swo
*.swm
/resources/img/sprite.svg
/public/sprite.svg
/.php-cs-fixer.cache
/groups.sql
