includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests
        - database
        - packages/tex/src
        - packages/laravel-nami/src
        - packages/laravel-nami/tests

    # The level 8 is the highest level
    level: 6

    ignoreErrors:
        -
            message: "#^Method App\\\\Activity\\:\\:sluggable\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Activity.php

        -
            message: "#^Unable to resolve the template type TKey in call to function collect$#"
            count: 1
            path: app/Course/Requests/StoreRequest.php

        -
            message: "#^Unable to resolve the template type TValue in call to function collect$#"
            count: 1
            path: app/Course/Requests/StoreRequest.php

        -
            message: "#^Method App\\\\Dav\\\\AddressBookBackend\\:\\:getCard\\(\\) should return M of array\\{lastmodified\\: int, etag\\: string, uri\\: string, id\\: int, size\\: int\\} but returns false\\.$#"
            count: 1
            path: app/Dav/AddressBookBackend.php

        -
            message: "#^Method App\\\\Dav\\\\AddressBookBackend\\:\\:getMultipleCards\\(\\) has parameter \\$uris with no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Dav/AddressBookBackend.php

        -
            message: "#^Method App\\\\Dav\\\\AddressBookBackend\\:\\:getMultipleCards\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Dav/AddressBookBackend.php

        -
            message: "#^Method App\\\\Dav\\\\Principal\\:\\:getGroupMemberSet\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Dav/Principal.php

        -
            message: "#^Method App\\\\Dav\\\\Principal\\:\\:getGroupMemberSet\\(\\) should return array but return statement is missing\\.$#"
            count: 1
            path: app/Dav/Principal.php

        -
            message: "#^Method App\\\\Dav\\\\Principal\\:\\:getGroupMembership\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Dav/Principal.php

        -
            message: "#^Method App\\\\Dav\\\\Principal\\:\\:getGroupMembership\\(\\) should return array but returns null\\.$#"
            count: 1
            path: app/Dav/Principal.php

        -
            message: "#^Method App\\\\Dav\\\\Principal\\:\\:setGroupMemberSet\\(\\) has no return type specified\\.$#"
            count: 1
            path: app/Dav/Principal.php

        -
            message: "#^Method App\\\\Dav\\\\Principal\\:\\:setGroupMemberSet\\(\\) has parameter \\$members with no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Dav/Principal.php

        -
            message: "#^Method App\\\\Dav\\\\ServiceProvider\\:\\:plugins\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Dav/ServiceProvider.php

        -
            message: "#^PHPDoc type array\\<string\\> of property App\\\\Exceptions\\\\Handler\\:\\:\\$dontFlash is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontFlash\\.$#"
            count: 1
            path: app/Exceptions/Handler.php

        -
            message: "#^PHPDoc type array\\<string\\> of property App\\\\Exceptions\\\\Handler\\:\\:\\$dontReport is not covariant with PHPDoc type array\\<int, class\\-string\\<Throwable\\>\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontReport\\.$#"
            count: 1
            path: app/Exceptions/Handler.php

        -
            message: "#^Method App\\\\Http\\\\Controllers\\\\Auth\\\\RegisterController\\:\\:create\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Http/Controllers/Auth/RegisterController.php

        -
            message: "#^Method App\\\\Http\\\\Controllers\\\\Auth\\\\RegisterController\\:\\:validator\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Http/Controllers/Auth/RegisterController.php

        -
            message: "#^Method App\\\\Http\\\\Views\\\\MemberView\\:\\:index\\(\\) has parameter \\$filter with no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Http/Views/MemberView.php

        -
            message: "#^Method App\\\\Http\\\\Views\\\\MemberView\\:\\:index\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Http/Views/MemberView.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Document\\:\\:\\$ADR\\.$#"
            count: 1
            path: app/Member/Member.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Document\\:\\:\\$BDAY\\.$#"
            count: 1
            path: app/Member/Member.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Document\\:\\:\\$N\\.$#"
            count: 1
            path: app/Member/Member.php

        -
            message: "#^Method App\\\\Member\\\\Member\\:\\:createPayment\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Member/Member.php

        - 
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: app/Member/Member.php

        -
            message: "#^Property App\\\\Member\\\\MemberController\\:\\:\\$filter type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Member/MemberController.php

        -
            message: "#^Method App\\\\Member\\\\MemberRequest\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Member/MemberRequest.php

        -
            message: "#^Method App\\\\Membership\\\\MembershipResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Membership/MembershipResource.php

        -
            message: "#^Method App\\\\Payment\\\\PaymentResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Payment/PaymentResource.php

        -
            message: "#^Method App\\\\Payment\\\\SubscriptionResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Payment/SubscriptionResource.php

        -
            message: "#^PHPDoc type array of property App\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies is not covariant with PHPDoc type array\\<class\\-string, class\\-string\\> of overridden property Illuminate\\\\Foundation\\\\Support\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies\\.$#"
            count: 1
            path: app/Providers/AuthServiceProvider.php

        -
            message: "#^Property App\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Providers/AuthServiceProvider.php

        -
            message: "#^Method App\\\\Subactivity\\:\\:sluggable\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: app/Subactivity.php

        -
            message: "#^Method Database\\\\Factories\\\\ActivityFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/ActivityFactory.php

        -
            message: "#^Method Database\\\\Factories\\\\ConfessionFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/ConfessionFactory.php

        -
            message: "#^Method Database\\\\Factories\\\\CountryFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/CountryFactory.php

        -
            message: "#^Method Database\\\\Factories\\\\FeeFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/FeeFactory.php

        -
            message: "#^Method Database\\\\Factories\\\\NationalityFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/NationalityFactory.php

        -
            message: "#^Method Database\\\\Factories\\\\Payment\\\\StatusFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/Payment/StatusFactory.php

        -
            message: "#^Method Database\\\\Factories\\\\SubactivityFactory\\:\\:definition\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: database/factories/SubactivityFactory.php

        -
            message: "#^Call to an undefined method Phake\\\\Proxies\\\\StubberProxy.*#"

        -
            message: "#^Call to an undefined method Phake\\\\Proxies\\\\VerifierProxy.*#"

        -
            message: "#^Parameter \\#1 \\$mock of static method Phake\\:\\:verify\\(\\) expects Phake\\\\IMock, App\\\\Mailman\\\\Support\\\\MailmanService given\\.$#"
            count: 4
            path: tests/Feature/Mailman/SettingTest.php

        -
            message: "#verifyNoInteraction\\(\\) expects Phake\\\\IMock#"

        -
            message: "#^Method Tests\\\\Feature\\\\Member\\\\StoreTest\\:\\:attributes\\(\\) has parameter \\$overwrites with no value type specified in iterable type array\\.$#"
            count: 1
            path: tests/Feature/Member/StoreTest.php

        -
            message: "#^Method Tests\\\\Feature\\\\Member\\\\StoreTest\\:\\:attributes\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: tests/Feature/Member/StoreTest.php

        -
            message: "#^Method Tests\\\\Feature\\\\Member\\\\StoreTest\\:\\:defaults\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: tests/Feature/Member/StoreTest.php

        -
            message: "#^PHPDoc tag @param has invalid value \\(\\<class\\-string\\> \\$class\\)\\: Unexpected token \"\\<\", expected type at offset 18$#"
            count: 1
            path: tests/TestCase.php

        -
            message: "#^Parameter \\#1 \\$api of class App\\\\Initialize\\\\InitializeGroups constructor expects Zoomyboy\\\\LaravelNami\\\\Api, PHPUnit\\\\Framework\\\\MockObject\\\\Stub given\\.$#"
            count: 6
            path: tests/Unit/InitializeGroupsTest.php

        -
            message: "#^Method Tests\\\\Unit\\\\Mailman\\\\ServiceTest\\:\\:testItReturnsMoreThanOneResult\\(\\) has parameter \\$totals with no value type specified in iterable type array\\.$#"
            count: 1
            path: tests/Unit/Mailman/ServiceTest.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Confession\\:\\:fromNami\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Confession.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Confession\\:\\:fromNami\\(\\) has parameter \\$item with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Confession.php

        -
            message: "#^Unable to resolve the template type TKey in call to function collect$#"
            count: 1
            path: packages/laravel-nami/src/Confession.php

        -
            message: "#^Unable to resolve the template type TValue in call to function collect$#"
            count: 1
            path: packages/laravel-nami/src/Confession.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Country\\:\\:fromNami\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Country.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Country\\:\\:fromNami\\(\\) has parameter \\$item with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Country.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\BausteinFake\\:\\:fetches\\(\\) has parameter \\$courses with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/BausteinFake.php

        -
            message: "#^PHPDoc tag @param references unknown parameter\\: \\$memberId$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/BausteinFake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\Fake\\:\\:dataResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/Fake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\GroupFake\\:\\:fakeResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/GroupFake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\GroupFake\\:\\:mapToResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/GroupFake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\GroupFake\\:\\:mapToResponse\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/GroupFake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\MembershipFake\\:\\:assertCreated\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/MembershipFake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fakes\\\\MembershipFake\\:\\:assertUpdated\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fakes/MembershipFake.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fee\\:\\:fromNami\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fee.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Fee\\:\\:fromNami\\(\\) has parameter \\$item with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Fee.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Gender\\:\\:fromNami\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Gender.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Gender\\:\\:fromNami\\(\\) has parameter \\$item with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Gender.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Gender\\:\\:getIsNullAttribute\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Gender.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Gender\\:\\:getNullValue\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Gender.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:__construct\\(\\) has parameter \\$options with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:__construct\\(\\) has parameter \\$response with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:__construct\\(\\) has parameter \\$title with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:__construct\\(\\) has parameter \\$url with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:fromHttp\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:http\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:http\\(\\) has parameter \\$options with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:http\\(\\) has parameter \\$response with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:http\\(\\) has parameter \\$title with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:http\\(\\) has parameter \\$url with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:level\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:\\$errors has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:\\$options has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:\\$response has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:\\$title has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\Logger\\:\\:\\$url has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: packages/laravel-nami/src/Logger.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\LoginException\\:\\:setReason\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/LoginException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\LoginException\\:\\:setReason\\(\\) has parameter \\$reason with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/LoginException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\LoginException\\:\\:setResponse\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/LoginException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\LoginException\\:\\:setResponse\\(\\) has parameter \\$response with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/LoginException.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\LoginException\\:\\:\\$reason has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/LoginException.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\LoginException\\:\\:\\$response has no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/LoginException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\NamiException\\:\\:getData\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/NamiException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\NamiException\\:\\:request\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/NamiException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\NamiException\\:\\:response\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/NamiException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\NamiException\\:\\:setData\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/NamiException.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\NamiException\\:\\:\\$data type has no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/NamiException.php

        -
            message: "#^Property Zoomyboy\\\\LaravelNami\\\\NamiException\\:\\:\\$response type has no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/src/NamiException.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Nationality\\:\\:fromNami\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Nationality.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Nationality\\:\\:fromNami\\(\\) has parameter \\$item with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Nationality.php

        -
            message: "#^Unable to resolve the template type TKey in call to function collect$#"
            count: 1
            path: packages/laravel-nami/src/Nationality.php

        -
            message: "#^Unable to resolve the template type TValue in call to function collect$#"
            count: 1
            path: packages/laravel-nami/src/Nationality.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Nullable\\:\\:getIsNullAttribute\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Nullable.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Nullable\\:\\:getNullValue\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Nullable.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Providers\\\\NamiServiceProvider\\:\\:boot\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Providers/NamiServiceProvider.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Region\\:\\:fromNami\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Region.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Region\\:\\:fromNami\\(\\) has parameter \\$item with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Region.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Region\\:\\:getIsNullAttribute\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Region.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Region\\:\\:getNullValue\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/src/Region.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Tests\\\\Stub\\\\Member\\:\\:findByNamiId\\(\\) has no return type specified\\.$#"
            count: 1
            path: packages/laravel-nami/tests/Stub/Member.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Tests\\\\Stub\\\\Member\\:\\:findByNamiId\\(\\) has parameter \\$id with no type specified\\.$#"
            count: 1
            path: packages/laravel-nami/tests/Stub/Member.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Tests\\\\TestCase\\:\\:fakeJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/tests/TestCase.php

        -
            message: "#^Method Zoomyboy\\\\LaravelNami\\\\Tests\\\\TestCase\\:\\:getAnnotations\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/laravel-nami/tests/TestCase.php

        -
            message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:never\\(\\)\\.$#"
            count: 1
            path: tests/Feature/Initialize/InitializeActionTest.php

        -
            message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:with\\(\\)\\.$#"
            count: 1
            path: tests/Feature/Initialize/InitializeActionTest.php

        -
            message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:once\\(\\)\\.$#"
            count: 2
            path: tests/Feature/Initialize/InitializeMembersTest.php

        -
            message: "#^Parameter \\#1 \\$mock of static method Phake\\:\\:verify\\(\\) expects Phake\\\\IMock, App\\\\Actions\\\\PullMemberAction given\\.$#"
            count: 1
            path: tests/Feature/Member/NamiPutMemberActionTest.php

        -
            message: "#^Parameter \\#1 \\$mock of static method Phake\\:\\:verify\\(\\) expects Phake\\\\IMock, App\\\\Actions\\\\PullMembershipsAction given\\.$#"
            count: 1
            path: tests/Feature/Member/NamiPutMemberActionTest.php

        -
            message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:once\\(\\)\\.$#"
            count: 2
            path: tests/Feature/Member/ResyncTest.php

        -
            message: "#^Method App\\\\Region\\:\\:forSelect\\(\\) should return Illuminate\\\\Support\\\\Collection\\<int, array\\{id\\: int, name\\: string\\}\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Region\\>\\.$#"
            count: 1
            path: app/Region.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Component\\\\VCard\\:\\:\\$BDAY\\.$#"
            count: 1
            path: tests/Feature/Member/DavTest.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Component\\\\VCard\\:\\:\\$FN\\.$#"
            count: 1
            path: tests/Feature/Member/DavTest.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Component\\\\VCard\\:\\:\\$N\\.$#"
            count: 1
            path: tests/Feature/Member/DavTest.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Component\\\\VCard\\:\\:\\$TEL\\.$#"
            count: 1
            path: tests/Feature/Member/DavTest.php

        -
            message: "#^Access to an undefined property Sabre\\\\VObject\\\\Component\\\\VCard\\:\\:\\$UID\\.$#"
            count: 1
            path: tests/Feature/Member/DavTest.php

        -
            message: "#^Return type of call to method Illuminate\\\\Support\\\\Collection\\<int,class\\-string\\<App\\\\Contribution\\\\Documents\\\\ContributionDocument\\>\\>\\:\\:map\\(\\) contains unresolvable type\\.$#"
            count: 1
            path: app/Contribution/ContributionFactory.php

        -
            message: "#^Return type of call to method Illuminate\\\\Support\\\\Collection\\<int,class\\-string\\<App\\\\Letter\\\\Letter\\>\\>\\:\\:map\\(\\) contains unresolvable type\\.$#"
            count: 1
            path: app/Payment/ActionFactory.php

        -
            message: "#^Return type of call to method Illuminate\\\\Support\\\\Collection\\<int,class\\-string\\<App\\\\Setting\\\\LocalSettings\\>\\>\\:\\:map\\(\\) contains unresolvable type\\.$#"
            count: 1
            path: app/Setting/SettingFactory.php
