includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests
        - database

    # The level 8 is the highest level
    level: 6

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::api\(\)#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable::getNamiGroupId\(\)#'
        - '#Illuminate\\Contracts\\Auth\\Authenticatable\|null given#'
