.button-group > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.form-group {
    @apply mb-4;
}


.form-control-font {
    @apply leading-tight text-gray-600 text-sm;
}

.label-placeholder {
    position: relative;
    @apply py-2 cursor-text;
    top: 34px;
    transition: color 02s, padding-bottom 02s, font-size 02s, top 02s;
}
.field-wrapperfocused label-placeholder, label-placeholder-focused {
    top: 0;
    @apply text-sm text-gray-600;
    padding-bottom: 10px;
    transition: color 02s, padding-bottom 02s, font-size 02s, top 02s;
}

.form-control {
    @apply py-2 appearance-none border-b border-solid form-control-font;
    -moz-appearance: none;
}

.label-font {
    @apply form-control-font;
}

.btn {
    @apply px-3 py-2 uppercase no-underline text-sm rounded text-white;
}
.btn-sm {
    @apply text-xs !important;
}
.btnp-0 {
    padding: 0 !important;
}
.btn-primary {
    @apply bg-primary;
}
.btn-primary:hover {
    @apply bg-primary-light;
}
.btn-danger {
    @apply bg-danger;
}
.btn-danger:hover {
    @apply bg-danger-light;
}
.btn-default {
    @apply bg-gray-600;
}
.btn-primary-light {
    @apply bg-primary-light;
}
.btn-default:hover {
    @apply bg-gray-600;
}

.field-wrapper {
    @apply flex flex-col;
}

.toolbar-title {
    @apply font-bold text-gray-700 text-lg;
}

.subtitle {
    @apply text-xl font-semibold mt-6 font-thin uppercase text-gray-600;
}

.mainnav > div > a {
    @apply py-2;
}

input, select {
    outline: none;
}

input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
select,
input[type="week"] {
    height: 37px;
    &::-webkit-inner-spin-button {
        display: none;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
